In [1]:
'''
pandas will be our data manipulation module
'''
import pandas as pd
pd.set_option('display.max_columns', None, 'display.max_rows', 200)

'''
numpy will be our array computing modue
'''
import numpy as np

'''
tqdm allows us to easily add progress bars to our processes
'''
from tqdm import tqdm

'''
display will allow us to easily display custom data types like dataframes
'''
from IPython.display import display

'''
built-in python modules
'''
import os
import string
import warnings
warnings.filterwarnings('ignore')

In [2]:
column_dtypes = {'short_description': object, 'description': object, 'overview': object}

dataframe = pd.read_csv(os.getcwd() + '/submapped.csv', dtype=column_dtypes, low_memory=False)
print(f'Columns:\n\t{dataframe.columns}\n\n')
print(f'Indeces:\n\t{dataframe.index}\n')

Columns:
	Index(['Unnamed: 0', 'id', 'entity_type', 'entity_id', 'parent_id', 'name',
       'normalized_name', 'permalink', 'category_code', 'status', 'founded_at',
       'closed_at', 'domain', 'homepage_url', 'twitter_username', 'logo_url',
       'logo_width', 'logo_height', 'short_description', 'description',
       'overview', 'tag_list', 'country_code', 'state_code', 'city', 'region',
       'first_investment_at', 'last_investment_at', 'investment_rounds',
       'invested_companies', 'first_funding_at', 'last_funding_at',
       'funding_rounds', 'funding_total_usd', 'first_milestone_at',
       'last_milestone_at', 'milestones', 'relationships', 'created_by',
       'created_at', 'updated_at', 'good2go', 'info', 'Sub-Categories'],
      dtype='object')


Indeces:
	RangeIndex(start=0, stop=121234, step=1)

In [3]:
dataframe = dataframe.drop(columns=['Unnamed: 0', 'good2go'])

In [5]:
print(f'Missing data per column (out of 121,234):\n{dataframe.isna().sum()}')

Missing data per column (out of 121,234):
id                          0
entity_type                 0
entity_id                   0
parent_id              121234
name                        0
normalized_name             1
permalink                   0
category_code            8100
status                      0
founded_at              37419
closed_at              121234
domain                   5920
homepage_url             5920
twitter_username        44992
logo_url                22485
logo_width                  0
logo_height                 0
short_description      115123
description             34913
overview                 4397
tag_list                43941
country_code            43088
state_code              77102
city                    46733
region                      0
first_investment_at    119879
last_investment_at     119879
investment_rounds           0
invested_companies          0
first_funding_at        94597
last_funding_at         94597
funding_rounds              0
funding_total_usd           0
first_milestone_at      74065
last_milestone_at       74065
milestones                  0
relationships               0
created_by              31334
created_at                  0
updated_at                  0
info                        0
Sub-Categories           8798
dtype: int64

Algorithm was able to map 8,798 out of 121,234 entries. It's also important to note that there are 8,100 missing values in our category column (category_code). My algorithm was meant to map those as well, so there must be a bug somewhere in my code that I must find and fix.

In [6]:
dataframe.to_csv('submapped.csv')